<div>
  <button class="sheet-action" data-action="add-new-attack">create new attack</button>
</div>
{{#each attacks as |attack attackIndex|}}
  {{>"systems/r20/templates/actor/parts/actor-pc-attack.hbs" weapons=../weapons attack=this attackIndex=attackIndex }}
{{/each}}

